<div class="container">
<h1>Ask a Question</h1>
  <form id="new_question" method="post" action="/questions">
    <label for="title">Title</label>
      <input type="text" name="question[title]">
    <textarea rows="10" cols="100" name="question[body]" form="new_question"></textarea>
    <label for="tags">Tags</label>
      <input type="text" name="question[tag_names]" placeholder="enter a tag (e.g.,  wordpress), max 5 tags, separated by commas">
      <input type="hidden" name="question[author_id]" value='<%= session[:user_id] %>'>
    <input id="button" type="submit" value="Post">
  </form>
</div>
