<div class="container">

  <form method="post" action="/question">
    <input type="text" name="question[title]" placeholder="title">
    <input type="text" name="question[body]" placeholder="body">
    <input type="text" name="question[tags]" placeholder="tags(separate by comma)">
    <input type="submit">
  </form>





</div>
