.tabs {
    float: left;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 16px;
    list-style: none;
}
.tabs li {
    float: left;
    margin-right: 16px;
    padding: 10px 15px;
    height: 30px;
    line-height: 30px;
}
.tabs li a {
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.tabs li.active {
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
    height: 31px;
    padding: 9px 14px;
}

.tabs li.active a {
    color: black;
    text-decoration: none;
    border-bottom: none;
}


.tab-content {
    /*display: none;*/
    width: 100%;
    margin: 5%, auto;
}

.container {
    margin: 20px auto;
    width: 800px;
}

.metric_container {
    width: 25%;
    display: inline-block;
    float:left;
}

.scorebox {
    display: inline-block;
    min-width: 44px;
    margin: 0 3px 0 0;
    height: 38px;
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
    outline: 1px solid black;
    line-height: 1;
}

.tag_meta {
    display: block;
}

.tag_meta a {
    margin: 0 3px 0 0;
}

.metric_counter {
    margin: 6px 0 3px 0;
}

.post {
    border-top: 1px solid gray;
    margin-top: 10px;
}


header {
    display: inline-block;
}

nav {
    margin-top: 0;
    background-color: rgb(100,100,100);
    display: inline-block;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: right;
    text-decoration: none;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #FF2442;
}

.tag_meta a {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(180, 220, 220);
    padding: 1px
    color: rgb(255,100,100) !important;
}
