.quack_overflow {
    float: left;
    margin-left: 5.7%;
    font-size: 27px;
    line-height: 60px;
}
header {
    display: inline-block;
}

/*rgb(209,224,195) - grey
rgb(235,98,20) - organge
rgb(255, 247, 64) - yellow*/

.header_links {
    font-size: 20px;
    line-height: 60px;
}
.container {
    margin: 20px auto;
    width: 800px;
}


body {
    background-color: rgb(209, 224, 195);
}
