.question_headers h4 {
  display: inline;
  padding-right: 5%;
  color: gray
}
.question_headers {
  padding-bottom:3%;
}
.body_container {
  margin: 20px auto;
  width: 800px;
}
.vote_arrows {
  display: inline-block;
  float:left;
}
.donald {
  margin-left: 45px;
}
.body {
  margin-top: 0px;
  display: block;
  font-size: 1.2em;
  padding-left: 10%;
  padding-right: 5%;
  padding-bottom: 1%;
}

.meta_stuff {
  display:inline-block;
  position: relative;
  margin-left:30%;
  margin-bottom: 2%;
}

.links {
  display: inline;
}

.links a {
  font-size: .9em;
  display: inline;
  text-decoration:none;
  color: gray;
  margin-left: 45px;
}

.user {
  display: inline;
  margin-bottom: 30px;
}
.user p{
  display:inline;
  color:gray;
}

.question_response {
  /*border-bottom: 1px solid gray;*/
  padding-left:5%;
  padding-right:5%;
  padding-top: 2%;
  padding-bottom: 2%;

}

.user a,.question_response a,.add_quack,.uncle_scrooge a,.donald {
    text-decoration: underline;
    color: black;
}

.user a:hover,.question_response a:hover,.add_quack:hover,.uncle_scrooge a:hover,.donald:hover{
  color: rgb(235, 98, 20);
}

.uncle_scrooge{
  margin-left: 40px;
  margin-bottom: 50px;
}

.question_response p {
  display:inline;
  font-size: .9em;
  margin: 0 5px 0 5px;
}

.question_response a {
  display: inline;
  font-size: .9em;
}

.add_quack {
  display: block;
  margin-left: 80px;
  padding-top: 2%;
  padding-bottom: 2%;
  color: rgb(235, 98, 20);
}


.answer_container {
  margin: 20px auto;
  width: 800px;
}

.answer_container form {
  /*margin-left:30%;*/
}

.answer_container form input {
  width: 80px;
  float: right;
}

hr {
  position: relative;

  margin: 20px 0 20px 0;
}

h5{
position: relative;
left: 10px;
top: 5px;
margin-bottom: 5px;
}
